# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Liste the popular languages used in Data Science
- List the commonly used libraries in Data Science
- Tabulate commonly used Data Science tools
- Execute simple arithmetic operations in a code cell

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. matplotlib
2. numpy
3. pandas
4. scikit-learn
5. tensorflow

| Data Science Tools |
| ------------------ |
| Anaconda |
| PyCharm |
| Atom |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author: 
Niketana Reddy Bumireddy